<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand"><img src="/img/imgtest.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Início <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="perguntar">Perguntar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="responder">Responder</a>
      </li>
    </ul>
    <span class="navbar-text">
      <b>Guia de Perguntas e Respostas</b>
    </span>
  </div>
</nav>